
    body {
        margin: 0 ;
        padding: 0;
        position: relative; 
        width: 100%; 
        background: linear-gradient(#52a577, #57606f); 
    }
    
    /* #particles-js {
        height: 100%;
        background: linear-gradient(#4ab89c, #57606f);
        position: absolute;
        width: 100%;
        height: 100%;
    } */
    
    .colorwhite {
        color: white;
       margin: 60px;
       width: 100px;
       margin-bottom: 100px;
       width: 380px;
       font-size: 40px;
       margin-top: 60px;
       display: flex;
       justify-content: space-between;
    }
    
    
    .fontsize {
        font-size: 20px; 
    }
    
    .parent-container1 {
        display: flex; 
        flex-direction: column; 
        align-items: center; 
    }
    
    .child-center  {
        display: flex; 
        flex-direction: column; 
        justify-content: center; 
    }
    
    .child-extra {
        display: flex; 
        flex-direction: column; 
        align-items: center; 
    }

    /* To align content  */
    .align-divs {
        display: flex; 
        flex-direction: row; 
        justify-content: center; 
        justify-content: space-around;
    }
    /* To align content */
    
    .child-width {
        display: flex; 
        justify-content: center;
        flex-direction: column;  
        width: 50rem;
        padding: 1.5rem; 
        
    }
    
    .child-box {
        width: 284px;
        padding: 10px 10px 20px 10px;
        margin: 35px; 
        border: 1px solid #BFBFBF;
        background-color: white;
        box-shadow: 10px 10px 5px #aaaaaa;
        display: flex; 
        flex-direction: column; 
        align-items: center;  
    }

    .child-box2 {
        width: 103rem;
        padding: 10px 10px 20px 10px;
        margin: 35px; 
        border: 1px solid #BFBFBF;
        background-color: white;
        box-shadow: 10px 10px 5px #aaaaaa;
    }
    

    
    img {
        width: 200px; 
        height: 200px;
        margin: auto 0; 
        padding: 10px;  
        border-radius: 50%; 
    }

    .video {
        margin: 0; 
        padding: 0; 
        width: 100%; 
        position: absolute; 
    }

    .section-container {
        position: relative; 
        width: 100%; 
        height: 100vh;
        display: flex; 
        align-items: center; 
        justify-content: center; 
        overflow: hidden; 
    }

    .section-show {
        z-index: 1; 
    }

    .edit-p {
        width: 80rem; 
    }

    .increase-width {
        width: 50rem; 
    }

    
/* Mobile View  */


    

    

   

  
    


